body{
        background: #0D47A1;
        color: #fff;
        text-align: center;
}
ul{
        padding-left: 520px;
}
.float li{
        float: left;
        list-style: none;
}
.float li a{
        color:#fff;
        text-decoration: none;
        font-variant: small-caps;
        background:#000;
        border: 1px solid black;
        padding: 10px 15px;
        -webkit-transition:all 1s ease-out;
        -moz-transition:all 1s ease-out;
        -ms-transition:all 1s ease-out;
        -o-transition:all 1s ease-out;
        transition:all 1s ease-out;
        font-size:16px;
        font-family: sans-serif;
}

.float a:hover{
        text-decoration: none;
        background:#fff;
        color: #000;
}
a:hover{
        color: #FFC107;
}
td{
        text-align: center;
}
i{
        font-size: 30px;
        color: orange;
}
b{
        font-size: 30px;
        color: black;
}
#jam-digital{
        overflow:hidden;
        width:350px;
        padding-left: 30px;
}
#hours{
        float:left;
        width:100px;
        height:50px;
        background-color:#6B9AB8;
        }
#minute{
        float:left;
        width:100px;
        height:50px;
        background-color:#A5B1CB;
}
#second{
        float:right;
        width:100px;
        height:50px;
        background-color:#FF618A;
        margin-right:30px;
}
#jam-digital p{
        color:#FFF;
        font-size:36px;
        text-align:center;
        margin-top:4px;
}
#titik1{
        float:left;
        width: 10px;
}
